* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

html,
body {
  background: #000 url("img/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.SearchBar {
  height: 50px;
  width: 80%;
  background-color: #c4c4c4;

  border-radius: 13px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  height: 200px;
}

.header img {
  width: 200px;
}
input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}